* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    background-image: url("grace.jpg");
    background-size: 100% 300px;
    background-repeat: repeat-y;
}

.row {
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
}

.name {
    color: red;
    font-family: 'Splash', cursive;
}

#angry {
    font-size: 200px;
}

#cat {
    position: absolute;
    width: fit-content;
    height: 20%;
}
