html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

a {
    color: white;
}

img {
    width: 20px;
}

#logoBanner {
    background-color: rgba(255, 255, 255, 0.788);
}

.back {
    position: absolute;
    background-color: rgba(255, 0, 242, 0.308);
    padding: 5px;
    margin: auto;
    text-align: center;
    border: 1px solid gray;
    border-radius: 3px;
    z-index: 10;
}

#video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }