.io_wrapper {
    float: left;
    position: relative;
}

#map_container {
    float: left;
    position: relative;
    border-radius: 4px;
    user-select: none;
    border: 2px;
    border-style: solid;
    border-color: black;
}

.io_container {
    margin-left: 20px;
    margin-top: 20px;
    background-color: darkgray;
    padding: 4px;
    color: black;
    border: 2px;
    border-style: solid;
    border-color: black;
}

.io_row {
    background-color: lightgray;
    margin-top: 1px;
    border-style: solid;
    border-color: lightgray;
}

.grid_node_bordered {
    position: absolute;
    border: 1px;
    border-style: dotted;
}
.grid_node_unbordered {
    position: absolute;
    border-style: none;
}
.grid_node_bordered:hover, .grid_node_unbordered:hover {
    border: 2px;
    border-style: dotted;
    border-color: red;
}
#focused_node {
    position: absolute;
    border: 2px;
    border-style: solid;
    border-color: lime;
}

.train_speck {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: red;
}